/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --fuentePpal:'Didact Gothic', sans-serif;
    --fuenteTexto:'Lato', sans-serif;;
    --blanco:#ffff;
    --negro:#0000;
    --azul:#14213d;
    --naranja:#fca311;
    --gris:#e5e5e5;
    --coral:#e63946;
}
body{
    font-family: var(--fuentePpal);
}
img{
    max-width: 100%;
}
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2.1rem;
}
p{
    font-family: var(--fuenteTexto);
    font-size: 1.2rem;
    line-height: 2rem;
}

/*HERO*/
.hero{
    background-image: url(/img/fondo.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .contenedor{
    display: grid;
    align-content: center;
    height: 100vh;
}
.hero .contenido{
    text-align: center;
    color: var(--gris);
}
.titulo{
    margin: 0;
}
.subtitulo{
    font-size: 1.6rem;
}

/*SERVICIOS*/
.servicios{
    text-align: center;
    margin-top: 3rem;
}
.servicios h2 {
    padding-bottom: .5rem;
}
.servicios h2::after{
    height: .7rem;
    width: 7rem;
    background-color: var(--coral);
    content: "";
    display: block;
    margin: 0 auto;

}
.servicios i{
    font-size: 5rem;
    color: var(--coral);
}

@media(min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        
    }
}